@model IEnumerable<mondayWebApp.Models.ProjectTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Zadania</h1>

<p>
    <a asp-action="Create">Dodaj nowe zadanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa zadania
            </th>
            <th>
                Czas zakończenia zadania
            </th>
            <th>
                W projekcie
            </th>
            <th>
                Pracownik
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeNameSurname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaskID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.TaskID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.TaskID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
