@model mondayWebApp.Models.Project

@{
    ViewData["Title"] = "Usuń projekt";
}

<h1>Usuń projekt</h1>

<h3>Czy na pewno chcesz usunąć projekt ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa projektu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            Opis projektu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDesc)
        </dd>
        <dt class = "col-sm-2">
            Założenia projektu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectBrief)
        </dd>
        <dt class = "col-sm-2">
            Data zakończenia projektu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectDeadline)
        </dd>
        <dt class = "col-sm-2">
            Kierownik projektu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectManager.EmployeeNameSurname)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProjectID" />
        <input type="submit" value="Usuń projekt" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy projektów</a>
    </form>
</div>
