@model mondayWebApp.Models.Employee

@{
    ViewData["Title"] = "Szczegóły pracownika";
}

<h1>Szczegóły</h1>

<div>
    <h4>Pracownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Imię
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            Data urodzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Numer telefonu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Rola
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeRole)
        </dd>
        <dt class = "col-sm-2">
            Oddział
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentID)
        </dd>
        <dt class = "col-sm-2">
            Projekt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeID">Edytuj</a> |
    <a asp-action="Index">Wróć do listy pracwoników</a>
</div>
